
<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true">
  <testsuites>
    <testsuite name="Plugin Test Suite">
      <directory prefix="test-" suffix=".php">./tests</directory>
    </testsuite>
  </testsuites>

  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="display_errors" value="1"/>
    <env name="WP_TESTS_DIR" value="/tmp/wordpress-tests-lib"/>
    <env name="WP_CORE_DIR" value="/tmp/wordpress"/>
  </php>
</phpunit>
